<app-error></app-error>
<div class="container">
  <div class="buttonContainer">
    <span><button type="button" md-raised-button (click)="goBack()">Back</button></span>
    <span><button type="button" md-raised-button (click)="newUser()">New</button></span>
  </div>
  <div>
    <ul>
      <li *ngFor="let u of _users; let i = index">
        <span>{{u.lastName}}, {{u.firstName}}</span>
        <span>
          <button type="button" (click)="edit(i)">edit</button>
          <button type="button" (click)="delete(i)">X</button>
        </span>
      </li>
    </ul>
  </div>
</div>