<div class="container">
  <form [formGroup]="editForm" (ngSubmit)="doEdit($event)">
    <div>
      <md-input-container>
        <input mdInput formControlName="name" placeholder="School Name" size="50">
      </md-input-container>
    </div>
    <div formGroupName="address">
      <div>
        <md-input-container>
          <input mdInput formControlName="line1" placeholder="Address line 1" size="30">
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <input mdInput formControlName="line2" placeholder="Address line 2" size="30">
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <input mdInput formControlName="suburb" placeholder="Suburb/Town" size="30">
        </md-input-container>
      </div>
    </div>
    <div>
      <md-select placeholder="Contact" formControlName="contact">
        <md-option *ngFor="let user of _users" [value]="user._id">{{user.name}}</md-option>
      </md-select>
    </div> 
    <div class="buttonContainer">
      <button md-raised-button [disabled]="!editForm.valid || saving || !editForm.dirty" color="primary" type="submit">Save</button>
      <button md-raised-button (click)="doCancel()" type="button" id="btnCancel">Cancel</button>
      <img *ngIf="registering" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
    <div *ngIf="_error" class="errorContainer">
      <md-chip-list>
        <md-chip class="error-chip" *ngIf="error" selected="true" color="warn">{{_error}}</md-chip>
      </md-chip-list>
    </div>
  </form>
</div>