.container {
  padding: 20px;
}
.buttonContainer span {
 padding: 5px;
}
.agreement-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
.agreement-item {
  padding: 5px;
}
.agreement-button {
  padding: 4px;
}
.datatable {
  padding-top: 20px;
  max-width: 400px;
}
.cdk-column-count {
  max-width: 80px;
  text-align: center;
}
.cdk-column-actions {
  max-width: 60px;
  text-align: center;
}
.mat-row {
  padding: 0 12px;
  height: 30px;
}
.mat-cell {
  font-size: 12px;
}