:host {
  display: block;
  padding: 20px;
}
.input {
  padding-top: 10px;
}
.user-table {
  max-width: 300px;
}
.user-email {
  font-size: 0.6em;
  font-weight: lighter;
  padding-top: 3px;
}
.cdk-column-selected {
  max-width: 30px;
}
md-header-row {
  max-height: 30px;
}
.button-container {
  padding-top: 20px;
}
