
<div md-dialog-title *ngIf="_newUser">New User</div>
<div md-dialog-title *ngIf="!_newUser">Edit User</div>
<div md-dialog-content class="container">
  <form [formGroup]="userForm" (ngSubmit)="submitForm($event)">
    <div>
      <md-input-container>
        <input mdInput formControlName="email" placeholder="Email" size="40">
      </md-input-container>
    </div>
    <div>
      <span>
        <md-input-container>
          <input mdInput formControlName="firstName" placeholder="First Name" size="15">
        </md-input-container>
      </span>
      <span>
        <md-input-container>
          <input mdInput formControlName="lastName" placeholder="Last Name" size="15">
        </md-input-container>
      </span>
    </div>
    <div>
      <md-input-container>
        <input mdInput formControlName="mobile" placeholder="Mobile" size="20">
      </md-input-container>
    </div>
    <div *ngIf="_newUser">
      <md-input-container>
        <input mdInput formControlName="password" placeholder="Password" type="password">
      </md-input-container>
    </div>
    <div>
      <md-slide-toggle formControlName="isAdmin">Is Admin</md-slide-toggle>
    </div>
  </form>
</div>
<div md-dialog-actions>
  <button md-button (click)="save()" [disabled]="!userForm.dirty && !userForm.valid">Save</button>
  <button md-button (click)="dialogRef.close()">Cancel</button>
</div>