<div class="container">
  <div class="buttonContainer">
    <span><button type="button" md-raised-button (click)="goHome()">Home</button></span>
    <span><button type="button" md-raised-button (click)="newUser()">New</button></span>
  </div>
  <div class="datatable" *ngIf="_data; else #noItems">
    <md-table #table [dataSource]="_data">
      <ng-container cdkColumnDef="name" class="col-name">
        <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
        <md-cell *cdkCellDef="let row">{{row.firstName}} {{row.lastName}}</md-cell>
      </ng-container>
      <ng-container cdkColumnDef="email" class="col-type">
        <md-header-cell *cdkHeaderCellDef> Email </md-header-cell>
        <md-cell *cdkCellDef="let row">{{row.email}}</md-cell>
      </ng-container>
      <ng-container cdkColumnDef="mobilePhone" class="col-count">
        <md-header-cell *cdkHeaderCellDef> Mobile </md-header-cell>
        <md-cell *cdkCellDef="let row">{{row.mobilePhone}}</md-cell>
      </ng-container>
      <ng-container cdkColumnDef="actions" class="col-actions">
        <md-header-cell *cdkHeaderCellDef> </md-header-cell>
        <md-cell *cdkCellDef="let row"> 
          <button type="button" (click)="edit(row)"><i class="fa fa-pencil"></i></button>
          <button type="button" (click)="delete(row)"><i class="fa fa-close"></i></button>
        </md-cell>
      </ng-container>
      <md-header-row *cdkHeaderRowDef="['name', 'email', 'mobilePhone', 'actions']"></md-header-row>
      <md-row *cdkRowDef="let row; columns: ['name', 'email', 'mobilePhone', 'actions']"></md-row>
    </md-table>
  </div>
  <ng-template #noItems><p>No users to display</p></ng-template>
</div>